.
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no" />
    <!-- <link rel="stylesheet" href="./styles.css" /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
</head>

<body>
    <div class="header">
        <div class="row m-0 head">
            <div class="col-md-2 col-sm-12 ">
                <div class="calender">
                    <mat-card class="demo-inline-calendar-card">
                        <mat-calendar></mat-calendar>
                    </mat-card>
                </div>
            </div>
            <div class="col-md-10 ">
                <div class="row w-100 m-0">
                    <div class="col-md-12 col-sm-12 p-0">
                        <div class="title-regle">
                            <div class="titles">
                                <span>Lorem, ipsum.</span>
                                <span>Impedit, eligei!</span>
                                <span>Id, impedit!</span>
                                <span>Nihil, assu!</span>
                                <span>Incidunt, iste.</span>
                                <span>Iste, ipsam!</span>
                                <span>Magni, aliq</span>
                                <span>A, adipisci?</span>
                                <span>Placeat, sim</span>
                                <span>Eligendi, sequi!</span>
                                <span>Nemo, nostrum.</span>
                                <span>Facere, recuse!</span>
                                <span>Soluta, nihil!</span>
                                <span>Omnis, nobis?</span>
                            </div>
                            <div class="regle">
                                <!-- <div class="ball bg-light float-left"></div> -->
                                <div class="ball"><span>1</span></div>
                                <div class="ball"><span>2</span></div>
                                <div class="ball"><span>3</span></div>
                                <div class="ball"><span>4</span></div>
                                <div class="ball"><span>5</span></div>
                                <div class="ball"><span>6</span></div>
                                <div class="ball"><span>7</span></div>
                                <div class="ball"><span>8</span></div>
                                <div class="ball"><span>9</span></div>
                                <div class="ball"><span>S</span></div>
                                <div class="ball"><span>V</span></div>
                                <div class="ball"><span>F</span></div>
                                <div class="ball"><span>G</span></div>
                                <!-- <div class="ball bg-light float-right"></div> -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row m-0 w-100 ">
                    <div class="col-md-6 col-sm-12 p-0">
                        <div class="row m-0 w-100 mt-2">
                            <div class="col-md-12 col-sm-12 p-0 ">
                                <div class="input-groupe d-flex  mr-2">
                                    <input type="date" placeholder="date" class="w-100"><input type="time" placeholder="time">
                                    <input type="text" placeholder="Client/passagers/Référence">
                                </div>

                            </div>
                            <div class="col-md-12  p-0 mt-2">
                                <div class="input-groupe  mr-2">
                                    <input type="date" placeholder="date" class="w-100"><input type="time" class="w-100" placeholder="time">
                                </div>
                            </div>
                            <div class="col-md-12  p-0  mt-2  ">
                                <a class=" btn btn-success text-white btn-sm">Recherche
                                    <i class="fa fa-search-plus fa-lg text-white"></i>
                                </a>
                                <div class="badge badge-primary text-white p-2 float-right">9 Missions</div>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-sm-12 p-0">
                        <div class="charts">
                            <img src="../assets/images/chart.PNG" alt="">
                            <img src="../assets/images/chart.PNG" alt="">
                            <img src="../assets/images/chart.PNG" alt="">
                            <img src="../assets/images/chart.PNG" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>